html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header #header_inner {
  padding-top: 15px;
  padding-bottom: 4px;
  padding-left: 10px; }
@media (max-width: 550px) {
  header .pc_logo {
    display: none; }
  header .sp_logo {
    text-align: center; }
  header .navi {
    text-align: center; }
  header .fb_insta_ul {
    list-style: none;
    display: -webkit-inline-flex;
    display: inline-flex; }
    header .fb_insta_ul li {
      margin: 0 5px; }
  header .sp_navi_ul {
    width: 150px;
    position: absolute;
    top: 105px;
    right: 12%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
    list-style: none;
    text-align: start; }
    header .sp_navi_ul li {
      margin: 0;
      padding: 0; }
      header .sp_navi_ul li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee; }
  header .pc_navi {
    display: none; } }
@media (min-width: 551px) {
  header .sp_logo {
    display: none; }
  header .sp_navi {
    display: none; }
  header .pc_navi {
    margin-top: 20px; }
  header .pc_navi_ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    header .pc_navi_ul li {
      display: inline-block; }
      header .pc_navi_ul li a {
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 0;
        padding-bottom: 0; }
    header .pc_navi_ul .fb-insta {
      display: -webkit-inline-flex;
      display: inline-flex; }
      header .pc_navi_ul .fb-insta .insta {
        margin-left: -5px; } }

#main .guide .guide_box {
  background: #fff;
  padding: 25px 20px 3px;
  margin-bottom: 10px; }
  #main .guide .guide_box .guide_font_size {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold; }
  #main .guide .guide_box .guide_text_color {
    color: #887f69; }
  #main .guide .guide_box .guide1 {
    line-height: 15px;
    margin-top: 8px;
    font-size: 12px;
    font-size: 1.2rem; }
    #main .guide .guide_box .guide1 .font_weight {
      font-weight: bold;
      margin-bottom: 3px; }
#main form p {
  background: #fff;
  padding: 20px 10px 10px; }
  #main form p .searchs {
    background: #eee url(../images/top/search_icon.png) no-repeat;
    width: 100%;
    height: 80%;
    background-position: 90% 50%;
    border: none;
    color: #b5b5b5; }
#main #pagelink {
  margin-bottom: 10px; }
  #main #pagelink .menu {
    background: #887f69;
    padding: 15px 10px 10px 20px;
    cursor: pointer; }
    #main #pagelink .menu .caret {
      float: right; }
  #main #pagelink .menu_toggle {
    background: #fff;
    list-style: none;
    display: none;
    font-size: 12px;
    font-size: 1.2rem; }
    #main #pagelink .menu_toggle li {
      border-bottom: 1px solid #f9f8f6;
      margin-bottom: 0; }
      #main #pagelink .menu_toggle li a {
        color: #000;
        display: block;
        text-decoration: none;
        padding: 15px 10px 10px 15px; }
      #main #pagelink .menu_toggle li .caret {
        float: right; }
#main #categories {
  margin-bottom: 10px; }
  #main #categories .menu {
    background: #887f69;
    padding: 15px 10px 10px 20px;
    cursor: pointer; }
    #main #categories .menu .caret {
      float: right; }
  #main #categories .menu_toggle {
    background: #fff;
    list-style: none;
    display: none;
    font-size: 12px;
    font-size: 1.2rem; }
    #main #categories .menu_toggle li {
      border-bottom: 1px solid #f9f8f6;
      margin-bottom: 0; }
      #main #categories .menu_toggle li a {
        color: #000;
        display: block;
        text-decoration: none;
        padding: 15px 10px 10px 15px; }
      #main #categories .menu_toggle li .caret {
        float: right; }
#main .about_info {
  overflow: hidden;
  margin-bottom: 25px;
  padding-bottom: 10px;
  background: #fff; }
  #main .about_info .about_info_title {
    background: #887f69;
    padding: 15px 10px 10px 20px;
    margin-bottom: 10px; }
  #main .about_info .about_info_box .setumei_box {
    font-size: 12px;
    font-size: 1.2rem; }
@media (max-width: 550px) {
  #main .pc_item {
    display: none; }
  #main .sp_item {
    text-align: center;
    padding-top: 10px; }
  #main .item {
    overflow: hidden; }
    #main .item .item_box {
      float: left;
      width: 45%;
      background: #fff;
      padding: 4px;
      margin: 2px; }
      #main .item .item_box .name {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      #main .item .item_box .price {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
  #main .about_info_box {
    padding-left: 10px;
    padding-right: 10px; }
    #main .about_info_box .about_info_img {
      float: left;
      width: 50%; }
    #main .about_info_box .setumei_box {
      float: right;
      width: 45%;
      font-size: 12px;
      font-size: 1.2rem; } }
@media (min-width: 551px) {
  #main .sp_item {
    display: none; }
  #main .pc_item {
    text-align: center;
    padding: 10px 10px; }
  #main .item {
    margin: 14px auto;
    padding-left: 2%;
    overflow: hidden; }
    #main .item .item_box {
      float: left;
      width: 32%;
      background: #fff;
      padding: 13px;
      margin: 2px;
      box-sizing: border-box; }
      #main .item .item_box .name {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      #main .item .item_box .price {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 10px; }
  #main .guide {
    margin-left: 1%;
    display: -webkit-flex;
    display: flex; }
    #main .guide .guide_box {
      float: left;
      width: 43%; }
    #main .guide .right {
      margin-right: 0.5%; }
    #main .guide .left {
      margin-left: 0.5%; }
  #main .about_info_box {
    text-align: center;
    margin: 10px; }
    #main .about_info_box p.text_left {
      text-align: left; } }

@media (max-width: 550px) {
  #pagetop .pagetop_link {
    text-align: center; } }
@media (min-width: 551px) {
  #pagetop {
    text-align: right; } }

#footer {
  padding: 10px; }
  @media (max-width: 550px) {
    #footer .footer_group {
      padding: 10px 0;
      text-align: center;
      border-top: 1px solid #b0b0b0; }
      #footer .footer_group .footer_nav {
        list-style: none;
        font-size: 11px;
        font-size: 1.1rem;
        margin-top: 10px;
        line-height: 14px; }
        #footer .footer_group .footer_nav .sp_footer_nav1 {
          display: -webkit-flex;
          display: flex;
          justify-content: center; }
        #footer .footer_group .footer_nav .sp_footer_nav2 {
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          float: left;
          margin-left: 40%; }
        #footer .footer_group .footer_nav li {
          margin-right: 5px; }
          #footer .footer_group .footer_nav li a {
            color: #000;
            text-decoration: none; }
      #footer .footer_group .copyright {
        font-size: 10px;
        font-size: 1rem;
        color: #b0b0b0; } }
  @media (min-width: 551px) {
    #footer .footer_group {
      margin-left: 0.8%;
      text-align: center;
      border-top: 1px solid #b0b0b0; }
      #footer .footer_group .footer_nav {
        list-style: none;
        display: -webkit-inline-flex;
        display: inline-flex;
        font-size: 12px;
        font-size: 1.2rem;
        margin-top: 25px;
        margin-bottom: 10px; }
        #footer .footer_group .footer_nav .sp_footer_nav1 {
          display: -webkit-inline-flex;
          display: inline-flex; }
        #footer .footer_group .footer_nav .sp_footer_nav2 {
          display: -webkit-inline-flex;
          display: inline-flex; }
        #footer .footer_group .footer_nav li {
          margin-right: 25px; }
          #footer .footer_group .footer_nav li a {
            color: #000;
            text-decoration: none; }
    #footer .copyright {
      font-size: 10px;
      font-size: 1rem;
      color: #b0b0b0;
      letter-spacing: 1px; } }

#main .page_nav .page_nav_ul {
  list-style: none;
  background: #e8e4da;
  margin: 0;
  padding: 5px 0 0 5px; }
  #main .page_nav .page_nav_ul li {
    display: inline-block;
    padding-left: 5px;
    padding-top: 2%;
    color: #887f69;
    font-size: 11px;
    font-size: 1.1rem; }
    #main .page_nav .page_nav_ul li a {
      color: #887f69;
      text-decoration: none; }
#main .back_next {
  margin: 20px 2.2% 0;
  display: flex;
  justify-content: space-between; }
  #main .back_next .back_next_btn {
    background: #887f69;
    padding: 9px 0px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    width: 40%;
    text-align: center; }
    #main .back_next .back_next_btn a {
      color: #fff;
      text-decoration: none;
      display: block; }
    #main .back_next .back_next_btn a:hover {
      opacity: 0.7; }
@media (max-width: 550px) {
  #main .pc_cover {
    display: none; }
  #main .sp_cover {
    margin: 0 0.8%;
    text-align: center;
    padding-top: 10px; }
  #main .back_next {
    margin: 20px 1% 0; } }
@media (min-width: 551px) {
  #main .page_nav {
    margin: 0 2.2%; }
    #main .page_nav .page_nav_ul {
      padding: 0 0 0 5px; }
      #main .page_nav .page_nav_ul li {
        padding-left: 10px; }
  #main .sp_cover {
    display: none; }
  #main .pc_cover {
    margin: 0 0.8%;
    text-align: center;
    padding: 10px 10px; }
  #main .back_next .back_next_btn {
    width: 20%; } }

#main .products {
  background: #fff;
  margin: 20px 2.2% 0; }
@media (max-width: 550px) {
  #main .products {
    padding: 20px 10px; }
    #main .products .title .product_name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 2px; }
    #main .products .title .product_number {
      font-size: 10px;
      color: #a6a6a6; }
  #main .display {
    border-top: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da;
    padding: 10px 0 0 0; }
    #main .display #display_img {
      float: left;
      width: 100%; }
    #main .display #list_img1 {
      list-style: none; }
      #main .display #list_img1 li {
        display: inline; }
        #main .display #list_img1 li .img_box {
          width: 18.5%; }
        #main .display #list_img1 li .click_img {
          cursor: pointer; }
  #main .title_color {
    padding: 20px 0; }
  #main .color_size {
    background: #f9f9f5;
    width: 100%; }
    #main .color_size tr .left_td {
      width: 26%;
      border: 1px solid #e8e4da;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      text-align: center;
      padding: 0; }
    #main .color_size tr .center_right_td {
      border: 1px solid #e8e4da;
      width: 37%;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      text-align: center;
      padding: 10px; }
    #main .color_size tr .white_td {
      background: #fff;
      text-align: left; }
      #main .color_size tr .white_td label {
        position: relative; }
        #main .color_size tr .white_td label .input_checkbox {
          display: none; }
        #main .color_size tr .white_td label .checkbox_text {
          padding-left: 20px;
          margin-right: 20px; }
        #main .color_size tr .white_td label .checkbox_text::before {
          content: "";
          display: block;
          position: absolute;
          top: 15%;
          left: 36%;
          width: 16px;
          height: 16px;
          border: 1px solid #e8e4da; }
        #main .color_size tr .white_td label .input_checkbox:checked + .checkbox_text::after {
          content: "";
          display: block;
          position: absolute;
          top: -5%;
          left: 43%;
          width: 7px;
          height: 14px;
          transform: rotate(40deg);
          border-bottom: 3px solid #887f69;
          border-right: 3px solid #887f69; }
  #main .price_Quantity .price {
    border-top: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da;
    padding: 10px 4px 10px 0px; }
    #main .price_Quantity .price .price_img {
      margin-right: 55px; }
    #main .price_Quantity .price .en {
      font-size: 14px;
      font-size: 1.4rem;
      color: #e80f66; }
    #main .price_Quantity .price .kakaku {
      font-size: 22px;
      font-size: 2.2rem;
      font-style: italic;
      color: #e80f66;
      letter-spacing: 1px;
      font-family: initial; }
    #main .price_Quantity .price .tax {
      font-size: 14px;
      font-size: 1.4rem;
      margin-left: 5px; }
  #main .price_Quantity .Quantity {
    border-bottom: 1px solid #e8e4da;
    padding-top: 15px;
    padding-bottom: 0; }
    #main .price_Quantity .Quantity .Quantity_img {
      margin-right: 20px; }
  #main .add_img {
    margin: 15px 11px; }
  #main .products_info {
    clear: both;
    padding-top: 35px; }
    #main .products_info .info_caption {
      font-size: 16px;
      font-size: 1.6rem;
      color: #887f69;
      font-weight: bold; }
    #main .products_info .info_title {
      font-size: 16px;
      font-size: 1.6rem;
      color: #887f69;
      font-weight: bold;
      border-top: 1px solid #887f69;
      padding-top: 15px; }
    #main .products_info p {
      font-size: 14px;
      font-size: 1.4rem; }
  #main .color_size_info {
    width: 100%; }
    #main .color_size_info .color_td {
      background: #f9f9f5;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      border: 1px solid #e8e4da;
      text-align: center;
      padding: 0;
      width: 26%; }
    #main .color_size_info .info_td {
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      border: 1px solid #e8e4da;
      padding: 10px;
      width: 74%; } }
@media (min-width: 551px) {
  #main .products {
    padding: 40px 50px; }
    #main .products .title {
      padding-bottom: 15px; }
      #main .products .title .product_name {
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 2px;
        float: left;
        width: 92%; }
      #main .products .title .product_number {
        font-size: 10px;
        color: #a6a6a6; }
  #main .display {
    border-top: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da;
    padding: 20px 0 20px 0;
    position: relative;
    overflow: hidden; }
    #main .display #display_img {
      float: left;
      width: 70%; }
    #main .display #list_img1 {
      float: right;
      width: 30%;
      list-style: none;
      position: absolute;
      top: 20px;
      left: 71%; }
      #main .display #list_img1 li {
        display: inline; }
        #main .display #list_img1 li .img_box {
          width: 43.7%;
          box-sizing: border-box;
          margin-left: 5px; }
        #main .display #list_img1 li .click_img {
          cursor: pointer; }
  #main .title_color {
    padding: 20px 0; }
  #main .color_size {
    background: #f9f9f5;
    width: 100%; }
    #main .color_size tr .left_td {
      width: 26%;
      border: 1px solid #e8e4da;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      text-align: center;
      padding: 0; }
    #main .color_size tr .center_right_td {
      border: 1px solid #e8e4da;
      width: 37%;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      text-align: center;
      padding: 10px; }
    #main .color_size tr .white_td {
      background: #fff;
      text-align: left;
      padding: 7px; }
      #main .color_size tr .white_td label {
        position: relative; }
        #main .color_size tr .white_td label .input_checkbox {
          display: none; }
        #main .color_size tr .white_td label .checkbox_text {
          padding-left: 20px;
          margin-right: 20px; }
        #main .color_size tr .white_td label .checkbox_text::before {
          content: "";
          display: block;
          position: absolute;
          top: 0%;
          left: 45%;
          width: 16px;
          height: 16px;
          border: 1px solid #e8e4da; }
        #main .color_size tr .white_td label .input_checkbox:checked + .checkbox_text::after {
          content: "";
          display: block;
          position: absolute;
          top: -5%;
          left: 48%;
          width: 7px;
          height: 14px;
          transform: rotate(40deg);
          border-bottom: 3px solid #887f69;
          border-right: 3px solid #887f69; }
  #main .price_Quantity {
    float: left;
    width: 55%;
    margin-right: 20px; }
    #main .price_Quantity .price {
      border-top: 1px solid #e8e4da;
      border-bottom: 1px solid #e8e4da;
      padding: 15px 0px; }
      #main .price_Quantity .price .price_img {
        margin-right: 55px; }
      #main .price_Quantity .price .en {
        font-size: 14px;
        font-size: 1.4rem;
        color: #e80f66; }
      #main .price_Quantity .price .kakaku {
        font-size: 22px;
        font-size: 2.2rem;
        font-style: italic;
        color: #e80f66;
        letter-spacing: 1px;
        font-family: initial; }
      #main .price_Quantity .price .tax {
        font-size: 14px;
        font-size: 1.4rem;
        letter-spacing: 1px;
        margin-left: 5px; }
    #main .price_Quantity .Quantity {
      border-bottom: 1px solid #e8e4da;
      padding-top: 20px;
      padding-bottom: 5px; }
      #main .price_Quantity .Quantity .Quantity_img {
        margin-right: 55px; }
  #main .add_img {
    float: right; }
  #main .products_info {
    clear: both;
    padding-top: 35px; }
    #main .products_info .info_caption {
      font-size: 16px;
      font-size: 1.6rem;
      color: #887f69;
      font-weight: bold; }
    #main .products_info .info_title {
      font-size: 16px;
      font-size: 1.6rem;
      color: #887f69;
      font-weight: bold;
      border-top: 1px solid #887f69;
      padding-top: 15px; }
    #main .products_info p {
      font-size: 14px;
      font-size: 1.4rem; }
  #main .color_size_info {
    width: 100%; }
    #main .color_size_info .color_td {
      background: #f9f9f5;
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      border: 1px solid #e8e4da;
      text-align: center;
      padding: 0;
      width: 26%; }
    #main .color_size_info .info_td {
      font-size: 12px;
      font-size: 1.2rem;
      color: #887f69;
      border: 1px solid #e8e4da;
      padding: 10px;
      width: 74%; } }

/*# sourceMappingURL=style.css.map */
